#display {
    display: block;
    border: 2px solid black;
    width: auto;
    text-align: end;
}
.container{
    display: grid;
    gap: 3px;
}
.grid-col-span-2{
    grid-column: span 2;
}
.btns{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4 , 1fr);

}

.btn{
    border: 1px solid black;
    padding: 10px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}